@import url(../index.css);
#bottom-sheet{
    --padding-top-size:16px;
    --first-bottom-sheet-height:50px;
}
#bottom-sheet{
    padding-top: var(--padding-top-size);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: white;
    z-index: 999;
    border-radius: var(--border-radius-size);
    transform: translateY(calc(100% - var(--first-bottom-sheet-height)));
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 3px 1px var(--point-color1);
    transition: all 0.5s;
}
hr{
    width: 30%;
    margin-bottom: calc(
        var(--first-bottom-sheet-height)
        - var(--padding-top-size)
        - var(--hr-size)
    );
}