@import url(../index.css);
#bottom-sheet{
    padding-top: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: aliceblue;
    z-index: 999;
    border-radius: var(--border-radius-size);
    transform: translateY(100%) translateY(-50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 3px 1px var(--point-color1);
}
hr{
    width: 30%;
}