@import url(../../index.css);
#background{
    position:absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top:0;
    left:0;
    z-index:9999;

    display: flex;
    align-items: center;
    justify-content: center;
}

#popup{
    width: 80vw;
    height: auto;
    background-color: white;
    border-radius: var(--border-radius-size);
}
#group-form{
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 100%;
}
#group-form>input, button, textarea{
    width: 100%;
    box-shadow: 0px 0px 3px 1px var(--point-color1);
    border-radius: var(--border-radius-size);
    padding: 8px;
}
textarea{
    overflow: hidden;
}
#group-form>button{
    background-color: black;
    color: white;
}
a{
    color: #666;
    font-size: 12px;
}