/* css 작성 파일 */
:root{
    --border-radius-size: 8px;
    --menubar-size:100px;
    --shadow-color:#444;
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
html,body,#root{
    height: 100%;
    width: 100%;
}
#root{
    position: relative;
}
ul{
    list-style: none;
}
button,input{
    cursor: pointer;
    border-radius: var(--border-radius-size);
}
input{
    padding: 0 8px;
}